/*Selector universal*/
*{
    margin: 0;
    padding: 0;
}
.container{
    width: 50%;
    height: auto;
    margin: 0 auto;
}

.img{
    border: 2px dotted;
    width: 33%;
    height: 300px;
    image-rendering: pixelated rgb(4, 94, 110);
    object-fit: scale-down;
    object-position: top;
}